.projects__main {
  flex: 1;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.projects__title {
  color: var(--color-primary);
}

.projects__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  width: 100%;
  max-width: 800px;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  background-color: var(--color-bg-alt);
  border-radius: 16px;
  padding: var(--space-lg);
  height: 500px;
}

.project-card__image {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  
}

.project-card__title {
  color: var(--color-primary);
  font-size: 1.5rem;
   margin-top: 30px;
  
}

.project-description {
  color: var(--color-primary);
  height: 100%;
  margin-top: 20px;
  p{
    margin-top: 20px;
  }
}

.project-card__link {
  align-self: flex-start;
  margin-top: var(--space-xs);

}

.project-card__link:hover {
  text-decoration: underline;
  box-shadow: 0 0 10px var(--color-primary);
}
.project-buttons {
  display: flex;
  gap: var(--space-md);
  margin-top: 340px;
}

.project-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
